@import '../../assets/styles/mixin';

.wrapper {
  margin: 0 auto;
  max-width: 77rem;
  padding: 0 1rem;
}

.light {
  background: #ccc;
  color: var(--black-color);
}

.toggleThemeBtn {
  position: fixed;
  top: 0;
  right: 0;
  color: var(--white-color);
  background: none;
  border: 0;
}